# Node modules
node_modules/
index.html
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Build output (optional)
dist/

# Editor folders
.vscode/
.idea/